<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management App</title>
</head>
<body>
    <button type="button" onclick="window.location.href='add-user'">Add User</button>
    <button type="button" onclick="window.location.href='remove-user'">Remove User</button>
    <button type="button" onclick="window.location.href='add-system-access'">Add System Access</button>
    <button type="button" onclick="window.location.href='remove-system-access'">Remove System Access</button>
    <button type="button" onclick="window.location.href='add-system'">Add System</button>
    <button type="button" onclick="window.location.href='remove-system'">Remove System</button>

    <table border="1">
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
